@font-face {
  font-family: "TT Lakes Bold";
  src: url("./fonts/TTLakes-Bold.eot");
  src: url("./fonts//TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("./fonts/TTLakes-Medium.eot");
  src: url("./fonts//TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Medium.woff") format("woff"),
    url("./fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("./fonts/TTLakes-Regular.eot");
  src: url("./fonts//TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Lakes Medium";
}
@media (min-width: 320px) {
  .container {
    max-width: 100vw;
    margin: 0 auto;
  }
  .navbar {
  }
  .navbar__nav {
    display: flex;
    justify-content: space-around;
    height: 88px;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .navbar__button {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .navbar__item_tb{
    display: none;
  }
  .body {
    background-color: #f8f8f8;
  }
  .title {
    padding: 24px 0;
  }
  .title__text h1 {
    font-family: "TT Lakes Bold";
    padding: 0 16px;
    border-left: 4px solid #41f6d7;
  }
  .support-btn{
    display: none;
  }
  .nav {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .nav__item {
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid #f8f8f8;
    color:#7E7E82;
  }
  .nav a:hover {
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    background: #ffffff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }
.nav__item_dt{
  display: none;
}
  .content {
  }
  .content__text {
    padding: 16px 16px 0 16px;
    color:#1B1C21;
  }
  .content__text p,span{
    font-family: "TT Lakes Regular"
  }
  .content__text_tb{
    display: none;
  }
  .content__text_dt{
    display: none;
  }
  .content__button button {
    font-family: "TT Lakes Medium";
    margin-right: 100px;
    padding: 0px 10px 10px 10px;
  
  }
  .content__button button {
    font-size: 16px;
    border: none;
    background-color: transparent;
  }
  .content__img {
    padding: 0 0 24px 0;
  }
}
@media (min-width: 769px) {
  .container {
    max-width: 100vw;
    margin: 0 auto;
  }
  .navbar__item_tb{
    display: block;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  .content__text {
      width: 312px;
      padding: 0;
  }
  .content__text_tb {
    display: block;
  }
  .content__button button {
    padding: 10px 10px 10px 10px;
  
  }
  .content__img img {
      width: 360px;
      border-radius: 1,5%;
  }

}



@media (min-width: 1120px) {
  .container {
    width: 100vw;
    margin: 0 auto;
  }
  .navbar{
    display: none;
  }
  .title__text{
    display: flex;
    justify-content: space-between;
  }
  .support-btn{
    display: block;
    display: flex;

  }
  .support-btn__item{
    display: flex;
    align-items: center;
  }
  .support-btn__item img{
    margin: 0 20px 0 10px;
  }
  .nav{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .body__nav a{
    font-size: 17px;
    
  }
  .body__nav a:hover{
    font-size: 17px;
  }
  .nav__item_dt{
    font-size: 18px;
    display: block;
  }
  .content__text {
    width: 490px;
    height: 160px;
    margin-left: 24px;
}
  .content__text_dt {
    display: block;
    
  }
  .content__img img {
    width: 530px;
}
.content__button button{
  padding: 10px 10px 10px 10px;
}
  
}
